name: Lint and check

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on: [push]

jobs:

  lint-and-check:
    name: lint-and-check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun lint

      - name: Type check
        run: bun check
